[Unit]
Description=Load LSM6DSX Sensor Kernel Module
After=sysinit.target
Before=multi-user.target
ConditionPathExists=/sys/bus/iio

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/iio-modules/load-lsm6dsx.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
